<!doctype html>
<html ng-app="loopbackApp" ng-controller="LayoutCtrl">

<head>
  <meta charset="utf-8">
  <title>{{settings.appName}}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.css" />
  <link rel="stylesheet" href="../bower_components/angular-toasty/css/ng-toasty.css" />
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/header.css">
  <link rel="stylesheet" href="styles/sidebar.css">
  <link rel="stylesheet" href="styles/sb-admin.css">
  <link rel="stylesheet" href="styles/main.css">
  <link rel="stylesheet" href="styles/app.css">
  <!-- endbuild -->
</head>

<body>
    
  <div ui-view></div>

  <div ng-controller="toasty-controller">
    <toasty-container toasty-defaults='{"timeout": 3000, "close-button":true, "sound": false}'></toasty-container>
  </div>

  <!-- build:js(.) scripts/vendor.js -->
  <!-- bower:js -->
  <script src="../bower_components/es5-shim/es5-shim.js"></script>
  <script src="../bower_components/jquery/dist/jquery.js"></script>
  <script src="../bower_components/angular/angular.js"></script>
  <script src="../bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/affix.js"></script>
  <script src="../bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/alert.js"></script>
  <script src="../bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/button.js"></script>
  <script src="../bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/carousel.js"></script>
  <script src="../bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/collapse.js"></script>
  <script src="../bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/dropdown.js"></script>
  <script src="../bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/tab.js"></script>
  <script src="../bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/transition.js"></script>
  <script src="../bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/scrollspy.js"></script>
  <script src="../bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/modal.js"></script>
  <script src="../bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/tooltip.js"></script>
  <script src="../bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/popover.js"></script>
  <script src="../bower_components/angular-resource/angular-resource.js"></script>
  <script src="../bower_components/angular-cookies/angular-cookies.js"></script>
  <script src="../bower_components/angular-route/angular-route.js"></script>
  <script src="../bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="../bower_components/angular-animate/angular-animate.js"></script>
  <script src="../bower_components/angular-touch/angular-touch.js"></script>
  <script src="../bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="../bower_components/angular-formly/dist/formly.min.js"></script>
  <script src="../bower_components/angular-toasty/js/ng-toasty.js"></script>
  <script src="../bower_components/angular-file-upload/angular-file-upload.js"></script>
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:js({.tmp,app}) scripts/scripts.js -->
  <script src="scripts/app.js"></script>
  <script src="scripts/lb-services.js"></script>
  <script src="scripts/controllers/main.js"></script>
  <script src="scripts/controllers/login.js"></script>
  <script src="scripts/controllers/home.js"></script>
  <script src="scripts/directives/header.js"></script>
  <script src="scripts/directives/login.js"></script>
  <script src="scripts/directives/register.js"></script>
  <script src="scripts/services/appauth.js"></script>
  <script src="scripts/directives/home.js"></script>
  <script src="scripts/controllers/items.js"></script>
  <script src="scripts/controllers/users.js"></script>
  <script src="scripts/controllers/sandbox.js"></script>
  <script src="scripts/controllers/notes.js"></script>
  <script src="scripts/controllers/posts.js"></script>
  <script src="scripts/controllers/settings.js"></script>
  <script src="scripts/controllers/products.js"></script>
  <script src="scripts/controllers/categories.js"></script>
  <script src="scripts/controllers/files.js"></script>
  <script src="scripts/directives/sidebar.js"></script>
  <!-- endbuild -->
</body>

</html>
