$icon-font-path: "/bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import "bootstrap-sass-official/assets/stylesheets/bootstrap";
@import "font-awesome/scss/font-awesome";

/**
 * App-wide Styles
 */

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Fonts */
@font-face {
  font-family: 'Montserrat';
  src: url('../../fonts/montserrat-regular-webfont.eot');
  src: url('../../fonts/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../../fonts/montserrat-regular-webfont.woff') format('woff'),
       url('../../fonts/montserrat-regular-webfont.ttf') format('truetype'),
       url('../../fonts/montserrat-regular-webfont.svg#montserratregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
      font-family: 'Montserrat';
      src: url('../../fonts/montserrat-regular-webfont.svg') format('svg');
    }
    select {
      font-family: Arial, Helvetica, sans-serif;
    }
}

/* Base */
html {
    overflow-y: scroll;
}
body {
    background: #f3f3f3;
    font-family: "Montserrat";
    color: #333333 !important;
}
.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.row > div {
    margin-bottom: 15px;
}
.alerts-container .alert:last-child {
    margin-bottom: 0;
}
#page-wrapper {
    padding-left: 70px;
    height: 100%
}
#sidebar-wrapper {
    margin-left: -150px;
    left: -30px;
    width: 250px;
    position: fixed;
    height: 100%;
    z-index: 999;
}
#page-wrapper, #sidebar-wrapper {
    transition: all .4s ease 0s;
}
.green {
    background: #23ae89 !important;
}
.blue {
    background: #2361ae !important;
}
.orange {
    background: #d3a938 !important;
}
.red {
    background: #ae2323 !important;
}
.form-group .help-block.form-group-inline-message {
    padding-top: 5px;
}
div.input-mask {
    padding-top: 7px;
}

// // Component styles are injected through grunt
// // injector
// @import '_variable.scss';
// @import 'main/main.scss';
// @import 'member/member.scss';
// @import 'header/header.scss';
// @import 'loading/loading.scss';
// @import 'sidebar/sidebar.scss';
// @import 'widget/widget.scss';
// // endinjector