 /* #592727 RED */
 /* #2f5927 GREEN */
 /* #f8931f BLUE (default)*/

/* Sidebar background color */
$sidebarBaseColor: #f8931f;
 /* Sidebar header and footer color */
$sidebarHeaderColor: darken($sidebarBaseColor, 2%);
 /* Sidebar title text colour */
$sidebarTitleColor:  lighten($sidebarBaseColor, 30%); /*#627cb7*/

/**
 * Sidebar
 */
#sidebar-wrapper {
  background: $sidebarBaseColor;
}

ul.sidebar .sidebar-main a,
.sidebar-footer,
ul.sidebar .sidebar-list a:hover,
#page-wrapper:not(.active) ul.sidebar .sidebar-title.separator {
  /* Sidebar header and footer color */
  background: $sidebarHeaderColor;
}

ul.sidebar {
  position: absolute;
  top: 0;
  bottom: 45px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-indent: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  li {
    a {
      color: #fff;
      display: block;
      float: left;
      text-decoration: none;
      width: 250px;
    }
  }
  .sidebar-main {
    height: 65px;
    a {
      font-size: 18px;
      line-height: 60px;
    }
    .menu-icon {
      float: right;
      font-size: 18px;
      padding-right: 28px;
      line-height: 60px;
    }
  }
  .sidebar-title {
    color: $sidebarTitleColor;
    font-size: 12px;
    height: 35px;
    line-height: 40px;
    text-transform: uppercase;
  }
  .sidebar-list {
    height: 40px;
    a {
      text-indent: 25px;
      font-size: 15px;
      color: #eee;
      line-height: 40px;
    }
    a:hover {
      color: #fff;
      border-left: 3px solid #e99d1a;
      text-indent: 22px;
      .menu-icon {
        text-indent: 25px;
      }
    }
    .menu-icon {
      float: right;
      padding-right: 29px;
      line-height: 40px;
      width: 70px;
    }
  }
}

#page-wrapper:not(.active) {
  ul.sidebar {
    bottom: 0;
    .sidebar-title {
      display: none;
    }
    .sidebar-title.separator {
      display: block;
      height: 2px;
      margin: 13px 0;
    }
    .sidebar-list {
      a:hover {
        span {
          border-left: 3px solid #e99d1a;
          text-indent: 22px;
        }
      }
    }
  }
  .sidebar-footer {
    display: none;
  }
}

.sidebar-footer {
  position: absolute;
  height: 40px;
  bottom: 0;
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
  div {
    a {
      color: #eee;
      font-size: 12px;
      line-height: 43px;
    }
    a:hover {
      color: #ffffff;
      text-decoration: none;
    }
  }
}