<div class="col-xs-12">
  <div class="user pull-right">
    <div class="item dropdown">
      <a href="#" class="dropdown-toggle">
        <img src="images/avatar.jpg">
      </a>
      <ul class="dropdown-menu dropdown-menu-right">
        <li class="dropdown-header">
          {{currentUser.firstName}} {{currentUser.lastName}}
        </li>
        <li ng-repeat="item in toplinks"><a href="" ng-click="item.action()"><i class="fa fa-fw {{item.icon}}"></i> {{item.name}}</a>
        </li>
      </ul>
    </div>
    <div class="item dropdown">
      <a href="#" class="dropdown-toggle">
        <i class="fa fa-bell-o"></i>
      </a>
      <ul class="dropdown-menu dropdown-menu-right">
        <li class="dropdown-header">
          通知
        </li>
        <li class="divider"></li>
        <li>
          <a href="#">伺服器沒有啟動!</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="meta">
    <div class="page">
      控制台
    </div>
    <div class="breadcrumb-links">
      主頁 / 總覽
    </div>
  </div>
</div>


<!-- <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">{{settings.appName}}</a>
  </div>
  <ul class="nav navbar-right top-nav">
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{currentUser.firstName}} {{currentUser.lastName}} <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li ng-repeat="item in toplinks"><a href="" ng-click="item.action()"><i class="fa fa-fw {{item.icon}}"></i> {{item.name}}</a>
        </li>
      </ul>
    </li>
  </ul>
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
      <li ng-repeat="item in menuoptions" ui-sref-active="active">
        <a class="" href="" ui-sref="{{item.sref}}"><i class="fa fa-fw {{item.icon}}"></i> {{item.name}}</a>
      </li>
    </ul>
  </div>
</nav>
 -->