<ul class="sidebar">
  <li class="sidebar-main">
    <a href="#" ng-click="toggleSidebar()">控制台<span class="menu-icon glyphicon glyphicon-transfer"></span></a>
  </li>
  <li class="sidebar-title">
    <span>項目</span>
  </li>
  <li ng-repeat="item in menuoptions" ui-sref-active="active" class="sidebar-list">
    <a class="" ui-sref="{{item.sref}}">{{item.name}} <span class="menu-icon fa fa-fw {{item.icon}}"></span></a>
  </li>
  <li class="sidebar-title separator">
    <span>捷徑</span>
  </li>
  <li class="sidebar-list">
    <a href="#" target="_blank">網站主頁 <span class="menu-icon fa fa-external-link"></span></a>
  </li>
</ul>
<div class="sidebar-footer">
  <div class="col-xs-4">
    <a href target="_blank">尋寶網</a>
  </div>
  <div class="col-xs-4">
    <a href="#" target="_blank">關於</a>
  </div>
  <div class="col-xs-4">
    <a href="#">支援</a>
  </div>
</div>


<!-- <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">{{settings.appName}}</a>
  </div>
  <ul class="nav navbar-right top-nav">
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{currentUser.firstName}} {{currentUser.lastName}} <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li ng-repeat="item in toplinks"><a href="" ng-click="item.action()"><i class="fa fa-fw {{item.icon}}"></i> {{item.name}}</a>
        </li>
      </ul>
    </li>
  </ul>
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
      <li ng-repeat="item in menuoptions" ui-sref-active="active">
        <a class="" href="" ui-sref="{{item.sref}}"><i class="fa fa-fw {{item.icon}}"></i> {{item.name}}</a>
      </li>
    </ul>
  </div>
</nav>
 -->
