<!-- <div id="wrapper" ng-controller="MainCtrl">
  <navbar></navbar>
  <div id="page-wrapper">
    <div class="container-fluid">
      <div ui-view></div>
    </div>
  </div>
</div>
 -->
<div id="page-wrapper" ng-class="{'active': toggle}" ng-cloak>
  <!-- Sidebar -->
  <div id="sidebar-wrapper" sidebar></div>
  <!-- End Sidebar -->
  <div id="content-wrapper">
    <div class="page-content">
      <!-- Header Bar -->
      <header class="row header">
      </header>
      <!-- End Header Bar -->
      <!-- Main Content -->
      <section ui-view></section>
    </div>
    <!-- End Page Content -->
  </div>
  <!-- End Content Wrapper -->
</div>
<!-- End Page Wrapper -->
